:root {
    --max-width: 1800px;
    --letter-spacing-wider: 0.8em;
    --letter-spacing-wide: 0.4em;
    --letter-spacing-normal: 0.1em;
    --text-shadow: 2px 2px 6px rgba(0, 0, 0, 0.6);
    --text-shadow-light: 2px 2px 3px rgb(0 0 0);
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 100vh;
    margin: 0;
    font-family: 'Code Pro Light LC';
    font-style: normal;
    text-transform: uppercase;
    background-color: #101010;
    color: #ffffff;
    text-shadow: --text-shadow-light;
}

a {
    color: #ffffff;
    text-decoration: none;
    letter-spacing: var(--letter-spacing-wide);
}

ul {
    list-style-type: none;
    text-transform: uppercase;
    letter-spacing: var(--letter-spacing-wide);
}

.loading {
    background-color: #101010;
    display: flex;
    height: 100vh;
    width: 100vw;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.loading img {
    max-width: 8em;
    padding: 0.5em;
    filter: drop-shadow(3px 3px 3px rgba(0, 0, 0, 0.5));
}

header {
    display: flex;
    padding: 1em 1em 0em;
    align-items: center;
    justify-content: space-between;
    z-index: 1;
}

header img {
    max-width: 5em;
    filter: drop-shadow(3px 3px 3px rgba(0, 0, 0, 0.5));
}

.menu-btn a {
    font-size: 1.2em;
    z-index: 1;
    letter-spacing: var(--letter-spacing-normal);
}

#home-menu {
    display: flex;
    height: 100%;
    align-items: flex-end;
    padding: 0em 1em 1em;
    align-self: flex-end;
}

#home-menu ul {
    padding-bottom: 2;
    font-size: 1.5em;
    letter-spacing: 0.4em;
    text-align: right;
}

#home-menu li {
    padding: 0.6em 0em 0.6em 0.6em;
}

#main-menu {
    display: flex;
    height: 100%;
    align-items: flex-end;
    padding: 0em 1em 1em;
    align-self: flex-end;
}

#main-menu ul {
    padding-bottom: 2;
    font-size: 1.5em;
    letter-spacing: 0.4em;
    text-align: right;
}

#main-menu li {
    padding: 0.6em 0em 0.6em 0.6em;
}

main {
    height: 100vh;
    width: 100%;
    max-width: var(--max-width);
    display: flex;
    flex-direction: column;
}

.menu-overlay {
    background-color: rgba(16, 16, 16, 0.9);
    backdrop-filter: blur(10px);
    height: 100vh;
    width: 100vw;
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    opacity: 0;
    z-index: 98;
}

.menu-overlay .container {
    flex-direction: column;
    max-width: var(--max-width);
    width: 100%;
    display: flex;
    height: 100%;
}

.background {
    opacity: 0.005;
}

.loading-container {
    position: absolute;
    height: 100vh;
    width: 100vw;
    z-index: 99;
    opacity: 0;
    visibility: hidden;
}

.home-title {
    display: flex;
    justify-content: center;
    height: 20%;
    letter-spacing: 0.6em;
    text-shadow: var(--text-shadow);
}

.menu-close {
    opacity: 0;
}

.home-background {
    position: absolute;
    width: 100%;
    height: 100%;
    max-width: var(max-width);
    background-repeat: no-repeat;
    background-image: -webkit-linear-gradient(right, rgba(0, 0, 0, 0.5) 1%, rgba(0, 0, 0, 0.2) 15%, rgba(0, 0, 0, 0) 50%, rgba(0, 0, 0, 0.2) 85%, rgba(0, 0, 0, 0.5) 100%), url("../assets/images/architecter/INDEX02a.jpg");
    background-size: cover;
    background-position: center bottom;
    z-index: -1;
}

.social {
    opacity: 0;
    visibility: hidden;
}

.social a {
    padding-left: 1.5em;
}

#portfolio {
    padding: 1em 1em 0em;
}

#portfolio ul {
    display: flex;
    padding: 0;
}

#portfolio .menu {
    display: flex;
    align-items: flex-start;
}

#portfolio .menu a {
    padding: 0 1em 0em;
    font-size: 1em;
}

#portfolio #department.menu {
    justify-content: flex-end;
}

#portfolio .pgia-slider {
    height: 75vh;
}

.pgia-slide {
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}

.pgia-controls a.prev {
}

.pgia-slide h1 {
    font-size: 2em;
    letter-spacing: var(--letter-spacing-wider);
    align-content: flex-end;
}

#project .pgia-slide {
    background-size: contain;
    background-position: center top;
    background-repeat: no-repeat;
    justify-content: flex-end;
}

#project ul {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    padding-top: 1.5em;
    padding-bottom: 1.5em;
}

#project li {
    padding: 1em 2em;
    font-size: 1em;
}

#project h2 {
    font-size: 1.6em;
    letter-spacing: var(--letter-spacing-wide);
}

#project p {
    text-align: center;
    font-size: 1.4em;
    line-height: 1.8em;
    text-transform: capitalize;
}

#project #details {
    display: flex;
    flex-direction: column;
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
}

#project {
    /* display: flex */
    /* flex-direction: column */
    /* align-items: center */
}
