:root {
  --max-width: 1800px;
  --letter-spacing-wider: 1.2em;
  --letter-spacing-wide: 0.4em;
  --letter-spacing-normal: 0.1em;
  --text-shadow: 2px 2px 3px rgba(0, 0, 0, 1);
  --text-shadow-light: 2px 2px 3px rgba(0, 0, 0, 0.8); }

body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  min-height: 100vh;
  margin: 0;
  font-family: Code Pro Light LC;
  font-style: normal;
  text-transform: uppercase;
  background-color: #101010;
  color: #ffffff;
  text-shadow: --text-shadow-light; }

a {
  color: #ffffff;
  text-decoration: none;
  letter-spacing: var(--letter-spacing-wide); }

ul {
  list-style-type: none;
  text-transform: uppercase;
  letter-spacing: var(--letter-spacing-wide); }

.loading {
  background-color: #101010;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 100vh;
  width: 100vw;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center; }
  .loading img {
    max-width: 8em;
    padding: 0.5em;
    -webkit-filter: drop-shadow(3px 3px 3px rgba(0, 0, 0, 0.5));
            filter: drop-shadow(3px 3px 3px rgba(0, 0, 0, 0.5)); }

header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 1em 1em 0em;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  z-index: 1; }
  header img {
    max-width: 5em;
    -webkit-filter: drop-shadow(3px 3px 3px rgba(0, 0, 0, 0.5));
            filter: drop-shadow(3px 3px 3px rgba(0, 0, 0, 0.5)); }
  .menu-btn a {
    font-size: 1.2em;
    z-index: 1;
    letter-spacing: var(--letter-spacing-normal);
    text-shadow: var(--text-shadow); }

#home-menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 100%;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  padding: 0em 1em 1em;
  -ms-flex-item-align: end;
      align-self: flex-end; }
  #home-menu ul {
    padding-bottom: 2;
    font-size: 1.5em;
    letter-spacing: 0.4em;
    text-align: right; }
  #home-menu li {
    padding: 0.6em 0em 0.6em 0.6em;
    text-shadow: var(--text-shadow); }

#main-menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 100%;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  padding: 0em 1em 1em;
  -ms-flex-item-align: end;
      align-self: flex-end; }
  #main-menu ul {
    padding-bottom: 2;
    font-size: 1.5em;
    letter-spacing: 0.4em;
    text-align: right; }
  #main-menu li {
    padding: 0.6em 0em 0.6em 0.6em; }

main {
  height: 100vh;
  width: 100%;
  max-width: var(--max-width);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  z-index: 0; }

.menu-overlay {
  background-color: rgba(16, 16, 16, 0.9);
  -webkit-backdrop-filter: blur(10px);
          backdrop-filter: blur(10px);
  height: 100%;
  width: 100%;
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  opacity: 0;
  z-index: 98; }
  .menu-overlay .container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    max-width: var(--max-width);
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    height: 100%; }

.background {
  opacity: 0.005; }

.loading-container {
  position: absolute;
  height: 100vh;
  width: 100vw;
  z-index: 99;
  opacity: 0;
  visibility: hidden; }

.home-title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center; }

.menu-close {
  opacity: 0; }

.home-background {
  position: absolute;
  width: 100%;
  height: 100%;
  max-width: var(max-width);
  background-repeat: no-repeat;
  background-image: -webkit-linear-gradient(right, rgba(0, 0, 0, 0.6) 0%, rgba(0, 0, 0, 0) 50%, rgba(0, 0, 0, 0.6) 100%), url("../images/architecture/Royal-Palm-Marrakech-Club.jpg");
  /* background-image: -webkit-linear-gradient(right, rgba(0, 0, 0, 0.5) 1%, rgba(0, 0, 0, 0) 49.8592%, rgba(0, 0, 0, 0.5) 100%) */
  background-size: cover;
  background-position: center bottom;
  z-index: 0; }
  .social a {
    padding-left: 1.5em; }

#portfolio,
#team {
  padding: 1em 1em 0em;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center; }
  #portfolio ul,
  #team ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding: 0; }
  #portfolio .menu,
  #team .menu {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start; }
    #portfolio .menu a,
    #team .menu a {
      padding: 0 1em 0em;
      font-size: 1em; }
  #portfolio #department.menu,
  #team #department.menu {
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end; }

#portfolio .pgia-slider {
  height: 60%; }

#portfolio .pgia-slide {
  background-size: cover;
  background-position: center center;
  /* flex-basis: calc(25% - 1em) */
  margin: 0.5em;
  background-image: -webkit-linear-gradient(90deg, #1a1a1a 43.4564%, #1a1a1a 43.4564%); }

.pgia-slide a {
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: rgba(0, 0, 0, 0.6);
  background: -webkit-linear-gradient(top, rgba(255, 255, 255, 0) 0%, rgba(0, 0, 0, 0.47) 45.8506%, rgba(255, 255, 255, 0) 100%); }

.pgia-controls a {
  background: none; }

.pgia-slide h2.title {
  font-size: 1.2em;
  text-align: center;
  display: block; }

.pgia-slider h3 {
  display: block; }

.active {
  border-bottom: 1px solid #ffffff; }

.team div .info {
  opacity: 0%;
  width: 100%;
  height: 100%;
  text-align: center; }

.team div.info:hover {
  opacity: 100%;
  background-color: rgba(0, 0, 0, 0.8); }

.team h2 {
  text-align: center;
  margin-top: 2em; }

.team h3 {
  text-transform: none; }

.team p {
  text-transform: none; }

#project .pgia-slide {
  background-size: contain;
  background-position: center center;
  margin: 0.5em;
  background-repeat: no-repeat; }

#project .pgia-slide .title {
  -ms-flex-line-pack: justify;
      align-content: space-between; }

.home-title h1 {
  font-size: 1.5em;
  text-align: center;
  letter-spacing: 0.6em;
  text-shadow: var(--text-shadow); }

#specifications {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  margin-top: 2em;
  margin-bottom: 2em;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center; }

#specifications li {
  font-size: 0.8em;
  text-align: center;
  padding: 1em; }

#details h2 {
  letter-spacing: 0.6em;
  font-size: 1.4em;
  margin-top: 2em;
  margin-bottom: 2em;
  font-weight: normal; }

#details p {
  text-align: center; }

#details p {
  text-transform: capitalize; }

#project .details {
  margin: 0 auto;
  padding: 0 2em;
  max-width: 1200px; }

#project h1 {
  text-align: center;
  z-index: 1;
  position: relative;
  bottom: 100px;
  letter-spacing: var(--letter-spacing-wider);
  font-weight: normal;
  text-shadow: var(--text-shadow); }

#project p {
  text-transform: capitalize;
  text-align: center;
  line-height: 2em; }

#project h2 {
  margin-top: 1.2em;
  margin-bottom: 1.2em;
  letter-spacing: 0.5em;
  font-weight: normal;
  font-size: 1.3em; }

.details #media {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 0 auto; }

#project #media {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 2em; }

.details h3 {
  font-weight: normal;
  letter-spacing: 0.2em; }

.our-story {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  max-height: 1200px;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: 2em; }

.our-story p {
  text-transform: capitalize;
  line-height: 2em;
  font-size: 1em; }

.our-story h2 {
  letter-spacing: 0.4em;
  font-size: 1.2em; }

.our-story h1 {
  letter-spacing: 0.5em;
  left: x;
  border-bottom: 1px solid #b3b3b3;
  padding: 0.5em;
  border-left: 1px outset #b3b3b3; }

.contact-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  max-height: 1200px;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: 2em; }

.contact-info
div p {
  letter-spacing: 0.2em;
  font-size: 1.2em;
  font-weight: bold; }

.contact-info h2 {
  font-size: 1em;
  letter-spacing: 0.4em;
  font-weight: normal; }

hr {
  width: 100%;
  margin-top: 2em;
  margin-bottom: 2em;
  line-height: 1em; }

.loading .loader {
  max-width: 3em; }

#project .overlay {
  width: 100%;
  height: 100%;
  background-image: -webkit-linear-gradient(90deg, black 0%, rgba(0, 0, 0, 0.59) 8.60563%, rgba(0, 0, 0, 0) 21.6479%, rgba(0, 0, 0, 0) 98%);
  position: absolute; }

#project .pgia-slide:before {
  content: " ";
  width: 100%;
  height: 100%;
  background-image: -webkit-linear-gradient(90deg, #101010 0%, rgba(16, 16, 16, 0.6) 8%, rgba(0, 0, 0, 0) 22%, rgba(16, 16, 16, 0) 100%);
  position: absolute; }
